<h3>Sending contents below </h3>
<%= form_with(model: @blog, url: blogs_path, local: true) do |f| %>
  <%= f.hidden_field :title %>
  <%= f.hidden_field :content %>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= f.hidden_field :image_cache %>
  <%= f.hidden_field :name %>
  <p>Title:<%= @blog.title %></p>
  <p>Content:<%= @blog.content %></p>
  <p>Cache:<%= @blog.image_cache %></p>
  <p>Author:<%= @blog.user.name %></p>
  <%= f.submit "Additional" %>
    <%= f.submit "Return", name: 'back' %>
<% end %>
