<%= link_to 'New post', new_blog_path %>
<p><%= notice %></p>
<p><% @blogs.each do |blog| %></p>

  <table>
    <div class="container">
    <p><tr>
        <th>Title</th>
      </tr>
      <tr>
        <td><%= blog.title %></td>
    </tr></p>
    <p><tr>
        <th>Content</th>
      </tr>
      <tr>
        <td><%= blog.content %></td>
    </tr></p>
    <p><tr>
        <th>Author</th>
      </tr>
      <tr>
        <td><%= blog.user.name %></td>
    </tr></p>
    <p><tr>
        <th>Picture</th>
      </tr>
      <tr>
        <td><%= image_tag blog.image.url if blog.image && blog.image.url %></td>
    </tr></p>
    <tr>
    <td><%= link_to 'Show details', blog_path(blog.id) %></td>
  </tr></div>

</table>


<% end %>


