<h1>Post</h1>
<p>Title: <%= @blog.title %></p>
<p>Content: <%= @blog.content %></p>
<p>Author: <%= @blog.user.name %></p>

<p id="notice"><%= notice %></p>
<p><%= image_tag @blog.image.url if @blog.image.present? %></p>
<% if @blog.user_id == current_user.id %>
  <%= link_to 'Edit', edit_blog_path(@blog) %>
  <%= link_to 'Delete', blog_path(@blog), method: :delete ,data: { confirm: 'Delete？' } %>
<% end %>
<% unless @blog.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Delete', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn_danger' %>
  <% else %>
    <%= link_to 'To favorites', favorites_path(blog_id: @blog.id), method: :post, class: 'btn btn-pry mary' %>
  <% end %>
<% end %>

<p><%= link_to "To lists", blogs_path %></p>
