<h1>Favorites</h1>
<% @favorites.each do |favorite| %>
<p><tr>
    <th>Name</th>
  </tr>
  <tr>
    <td><%= favorite.user.name %></td>
</tr></p>
<p><tr>
    <th>Title</th>
  </tr>
  <tr>
    <td><%= favorite.blog.title %></td>
</tr></p>
<p><tr>
    <th>Content</th>
  </tr>
  <tr>
    <td><%= favorite.blog.content %></td>
</tr></p>
<p><tr>
  <td><%= image_tag(favorite.blog.image.url) %></td>
</tr></p>
<% end %>

<%= link_to "To lists", blogs_path%>