<%= form_with(model: @user, local: true) do |f| %>
<h1><%= @user.name %>'s page</h1>
<p>Mail address: <%= @user.email %></p>
  <% if @user.image.url %>
    <p>image: <%= image_tag(@user.image.url) %></p>
  <% else %>
    <%= f.file_field :image %>
    <%= f.submit "image" %>
    <% end %>
  <% end %>

<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_user_path(@user) %>

<%= link_to "To favorites", favorites_path %>
<%= link_to "To lists", blogs_path %>
