<h1><%= @user.name %>'s page</h1>
<p>Mail address: <%= @user.email %></p>
  <% if @user.image? %>
  <p><%= image_tag @user.image.url if @user.image.present? %></p>
  <% end %>

<%= link_to 'Edit', edit_user_path(current_user.id) %>
<%= link_to "To favorites", favorites_path %>
<%= link_to "To lists", blogs_path %>
